{
  "logLevel": "debug",
  "database": {
    "host": "localhost",
    "username": "{username}",
    "password": "{pwd}",
    "dbName": "{dbName}"
  },
  
  "wsUrl": "ws://localhost:3030",

  "sessionSecret": "totally secure",
  "jwtSecret": "jwtSecret",
  "jwtAud": "aud",
  "frontend": "http://localhost:8080",
  "oidc": {
    "issuer": "https://{yourdomain}/oauth2/default",
    "authorizationURL": "https://{yourdomain}/oauth2/default/v1/authorize",
    "tokenURL": "https://{yourdomain}/oauth2/default/v1/token",
    "userInfoURL": "https://{yourdomain}/oauth2/default/v1/userinfo",
    "clientID": "{ClientID}",
    "clientSecret": "{ClientSecret}",
    "callbackURL": "http://localhost:3000/api/callback",
    "logoutURL": "https://{yourdomain}/auth/realms/{realm}/protocol/openid-connect/logout",
    "scope": "openid profile offline_access"
  },
  "forumApi": {
    "baseUrl": "http://localhost:3000/v1",
    "wsUrl": "ws://localhost:2999"
  },
  "uploadUrl": "http://localhost:1080/files",
  "supplementalUploadUrl": "http://localhost:1080/files_supplemental",
  "minio": {
      "url": "127.0.0.1",
      "port": 9000,
      "ssl": false,
      "key": "accessKey",
      "secret": "secretKey",
      "bucket": "supplemental"
  },

  "base64EncodedPGPPublicKey": "{publickey}",
  "orgAttribute": "businessCategory",
  "requiredRoleToCreateRequest": "exporter",
  "alwaysNotifyListOnTopicCreate": false,
  "alwaysNotifyUninvolvedOnCommentAdd": true,
  "approverGroups": [
    "metadata_approver_1_dip",
    "metadata_approver_2_dip"
  ],
  "alwaysNotifyList": {
    "business_category_1": [
      {
        "name": "Metadata Approver_1_User_1",
        "email": "{email}"
      },
      {
        "name": "Metadata Approver_1_User_2",
        "email": "{email}}"
      }
    ],
    "business_category_2": [
      {
        "name": "Metadata Approver_2_User_1",
        "email": "{email}"
      },
      {
        "name": "Metadata Approver_2_User_2",
        "email": "{email}"
      }
    ]
  },
  "email": {
    "enabled": false,
    "service": "smtp.gmail.com",
    "secure": true,
    "port": 465,
    "user": "{user}",
    "pass": "{password}",
    "from": "{email}",
    "subject": "Data Upload Update"
  },
  "adminGroup": "mc-admin",
  "formio": {
        "url": "http://localhost:3006",
        "username": "admin@example.com",
        "password": "CHANGEME"
  },

  "userIdField": "email",
  "bcdc": "http://bcdcUrl"
}
