{
  "logLevel": "debug",
  "database": {
      "host": "localhost",
      "username": "mcUser",
      "password": "pwd",
      "dbName": "mcDb"
  },
  "sessionSecret": "totally secure",
  "jwtSecret": "jwtSecret",
  "testJwt": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE2NTA0NjM2NjAsImV4cCI6MTY1MDQ2MzY2MCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoiYXJndXMrbWExX3VzZXIxQGhpZ2h3YXl0aHJlZXNvbHV0aW9ucy5jb20iLCJHaXZlbk5hbWUiOiJNZXRhZGF0YSIsIlN1cm5hbWUiOiJBcHByb3Zlcl8xX1VzZXJfMSIsIkVtYWlsIjoiYXJndXMrbWExX3VzZXIxQGhpZ2h3YXl0aHJlZXNvbHV0aW9ucy5jb20iLCJHcm91cHMiOlsiZXhwb3J0ZXIiLCJtZXRhZGF0YV9hcHByb3Zlcl8xX2RpcCJdfQ.ESqoLyihlc-lbfXrzfGaxYa9RWLb6lXmqcs1bghyzas",
  "testDp1User1Jwt": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE2NTA0NjM2NjAsImV4cCI6MTY1MDQ2MzY2MCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoiYXJndXMrZHAxX3VzZXIxQGhpZ2h3YXl0aHJlZXNvbHV0aW9ucy5jb20iLCJHaXZlbk5hbWUiOiJEYXRhIiwiU3VybmFtZSI6IlByb3ZpZGVyXzFfVXNlcl8xIiwiRW1haWwiOiJhcmd1cytkcDFfdXNlcjFAaGlnaHdheXRocmVlc29sdXRpb25zLmNvbSIsIkdyb3VwcyI6WyJleHBvcnRlciIsInByb2plY3RfZHBfMSJdLCJidXNpbmVzc0NhdGVnb3J5IjoiYnVzaW5lc3NfY2F0ZWdvcnlfMSJ9.8zyAcmz3zPhail_quPWA35JHzrZnvDRpPteXBw9eDqw",
  "testDp1User2Jwt": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE2NTA0NjM2NjAsImV4cCI6MTY1MDQ2MzY2MCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoiYXJndXMrZHAxX3VzZXIyQGhpZ2h3YXl0aHJlZXNvbHV0aW9ucy5jb20iLCJHaXZlbk5hbWUiOiJEYXRhIiwiU3VybmFtZSI6IlByb3ZpZGVyXzFfVXNlcl8yIiwiRW1haWwiOiJhcmd1cytkcDFfdXNlcjJAaGlnaHdheXRocmVlc29sdXRpb25zLmNvbSIsIkdyb3VwcyI6WyJleHBvcnRlciIsInByb2plY3RfZHBfMSJdLCJidXNpbmVzc0NhdGVnb3J5IjoiYnVzaW5lc3NfY2F0ZWdvcnlfMSJ9.KRZCnBxBHHMk3cbK0N2SCpy_pBRplpzNGv5VKv3vE-4",
  "testDp2User1Jwt": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE2NTA0NjM2NjAsImV4cCI6MTY1MDQ2MzY2MCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoiYXJndXMrZHAyX3VzZXIxQGhpZ2h3YXl0aHJlZXNvbHV0aW9ucy5jb20iLCJHaXZlbk5hbWUiOiJEYXRhIiwiU3VybmFtZSI6IlByb3ZpZGVyXzJfVXNlcl8yIiwiRW1haWwiOiJhcmd1cytkcDJfdXNlcjFAaGlnaHdheXRocmVlc29sdXRpb25zLmNvbSIsIkdyb3VwcyI6WyJleHBvcnRlciIsInByb2plY3RfZHBfMiJdLCJidXNpbmVzc0NhdGVnb3J5IjoiYnVzaW5lc3NfY2F0ZWdvcnlfMiJ9.0oDhn-oIh3ExrnPU5xN_xy0ZA0ejOoShkgYxCjVV3sM",
  "testMa1User1Jwt": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE2NTA0NjM2NjAsImV4cCI6MTY1MDQ2MzY2MCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoiYXJndXMrbWExX3VzZXIxQGhpZ2h3YXl0aHJlZXNvbHV0aW9ucy5jb20iLCJHaXZlbk5hbWUiOiJNZXRhZGF0YSIsIlN1cm5hbWUiOiJBcHByb3Zlcl8xX1VzZXJfMSIsIkVtYWlsIjoiYXJndXMrbWExX3VzZXIxQGhpZ2h3YXl0aHJlZXNvbHV0aW9ucy5jb20iLCJHcm91cHMiOlsiZXhwb3J0ZXIiLCJtZXRhZGF0YV9hcHByb3Zlcl8xX2RpcCJdfQ.ESqoLyihlc-lbfXrzfGaxYa9RWLb6lXmqcs1bghyzas",
  "testMa1User2Jwt": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE2NTA0NjM2NjAsImV4cCI6MTY1MDQ2MzY2MCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoiYXJndXMrbWExX3VzZXIyQGhpZ2h3YXl0aHJlZXNvbHV0aW9ucy5jb20iLCJHaXZlbk5hbWUiOiJNZXRhZGF0YSIsIlN1cm5hbWUiOiJBcHByb3Zlcl8xX1VzZXJfMiIsIkVtYWlsIjoiYXJndXMrbWExX3VzZXIyQGhpZ2h3YXl0aHJlZXNvbHV0aW9ucy5jb20iLCJHcm91cHMiOlsiZXhwb3J0ZXIiLCJtZXRhZGF0YV9hcHByb3Zlcl8xX2RpcCJdfQ.uTkiDkPxYlHyhyauF4M1jwhCG9H-phHYLOGEmnst4b8",
  "testMa2User1Jwt": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE2NTA3MjA0MjAsImV4cCI6MTY1MDcyMDQyMCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoiYXJndXMrbWEyX3VzZXIxQGhpZ2h3YXl0aHJlZXNvbHV0aW9ucy5jb20iLCJHaXZlbk5hbWUiOiJNZXRhZGF0YSIsIlN1cm5hbWUiOiJBcHByb3Zlcl8yX1VzZXJfMSIsIkVtYWlsIjoiYXJndXMrbWEyX3VzZXIxQGhpZ2h3YXl0aHJlZXNvbHV0aW9ucy5jb20iLCJHcm91cHMiOlsiZXhwb3J0ZXIiLCJtZXRhZGF0YV9hcHByb3Zlcl8yX2RpcCJdfQ.IiK75IHqZxvRXvmvkZ_mP1OBzAhhELxG1epjDD2_PBY",
  "testMa2User2Jwt": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE2NTA3MjA0MjAsImV4cCI6MTY1MDcyMDQyMCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoiYXJndXMrbWEyX3VzZXIyQGhpZ2h3YXl0aHJlZXNvbHV0aW9ucy5jb20iLCJHaXZlbk5hbWUiOiJNZXRhZGF0YSIsIlN1cm5hbWUiOiJBcHByb3Zlcl8yX1VzZXJfMiIsIkVtYWlsIjoiYXJndXMrbWEyX3VzZXIyQGhpZ2h3YXl0aHJlZXNvbHV0aW9ucy5jb20iLCJHcm91cHMiOlsiZXhwb3J0ZXIiLCJtZXRhZGF0YV9hcHByb3Zlcl8yX2RpcCJdfQ.xAiylrXDdek5WSlGYTAOrQ0uvDWf3bB8j7TyzLriQug",
  "testAdminJwt": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE1NzQ3ODU4MzAsImV4cCI6MTYwNjMyMTgzMCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoianJvY2tldEBleGFtcGxlLmNvbSIsIkdpdmVuTmFtZSI6IkpvaG5ueSIsIlN1cm5hbWUiOiJSb2NrZXQiLCJFbWFpbCI6ImphbmVkb2VAZXhhbXBsZS5jb20iLCJHcm91cHMiOlsiYWRtaW4iLCJleHBvcnRlciJdLCJab25lIjoiaW50ZXJuYWwifQ.qWCLmvODtCqpt0JW4T5baYct7DSnckMkoEclSqlsy2M",
  "frontend": "http://localhost:8080",
  "oidc": {
    "issuer": "https://{yourdomain}/oauth2/default",
    "authorizationURL": "https://{yourdomain}/oauth2/default/v1/authorize",
    "tokenURL": "https://{yourdomain}/oauth2/default/v1/token",
    "userInfoURL": "https://{yourdomain}/oauth2/default/v1/userinfo",
    "clientID": "{ClientID}",
    "clientSecret": "{ClientSecret}",
    "callbackURL": "http://localhost:3000/api/callback",
    "scope": "openid profile offline_access"
  },
  "forumApi": {
      "baseUrl": "http://localhost:3000/v1"
  },
  "uploadUrl": "http://localhost:8080/files",
  "base64EncodedPGPPublicKey": "{publickey}",
  "orgAttribute": "businessCategory",
  "requiredRoleToCreateRequest": "exporter",
  "alwaysNotifyListOnTopicCreate": false,
  "alwaysNotifyUninvolvedOnCommentAdd": true,
  "approverGroups": [
    "metadata_approver_1_dip",
    "metadata_approver_2_dip"
  ],
  "alwaysNotifyList": {
    "business_category_1": [
      {
        "name": "Metadata Approver_1_User_1",
        "email": "{email}"
      },
      {
        "name": "Metadata Approver_1_User_2",
        "email": "{email}}"
      }
    ],
    "business_category_2": [
      {
        "name": "Metadata Approver_2_User_1",
        "email": "{email}"
      },
      {
        "name": "Metadata Approver_2_User_2",
        "email": "{email}"
      }
    ]
  },
  "email": {
    "enabled": false,
    "service": "smtp.gmail.com",
    "secure": true,
    "port": 465,
    "user": "{user}",
    "pass": "{password}",
    "from": "{email}",
    "subject": "Data Upload Update"
  }
}
