**/node_modules
**.DS_Store
**/config/*.json

# Intellij
.idea/
*.iml
*.iws
**/http-client.private.env.json

tmp

**terraform.tfvars
**terraform.tfstate**
**/_tmp**
**/terraform/.terraform**

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# storybook build files
frontend/storybook-static
frontend/chromedriver.log